<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> -> no podemos guardar tu post :( </h2>

      <ul>
        <% post.errors.each do |error| %>
         <li><%= error.message %></li>

        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div>
    <%= form.label :Título, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :Sigla_del_ramo, style: "display: block" %>
    <%= form.text_field :sigla_ramo %>
  </div>

  <div>
    <%= form.label :Precio, style: "display: block" %>
    <%= form.text_field :precio %>
  </div>

  <div>
    <%= form.label :Descripción, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
